@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid gray;
}

body {
    overflow-x: hidden;
    font-family: Pretendard, sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    word-break: keep-all;
}

img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 32px;
    font-weight: normal;
}

h2 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    font-size: 1.6rem;
    padding: 40px 0 16px 0;
}

h4 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

p,
b {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

p {
    font-weight: 400;
}


a:link {
    color: #666;
    text-decoration: none;
}

a:visited {
    color: #666;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

ul li {
    font-size: 0.8REM;
    list-style: none;
    font-weight: normal;
}

button {
    font-family: Pretendard, sans-serif;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    background: none;
}

select {
    width: 100%;
    line-height: 3rem;
    margin: 8px auto;
    padding: 8px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

input[type="text"] {
    padding: 4px 16px;
}

input[type="text"]:focus {
    outline: none;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    height: 200px;
    padding: 24px;
    resize: none;
}

textarea:focus {
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 4px;
}

input[type="file"] {
    display: none;
}

::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
}


/*고정 스타일 커스텀*/
.fix-size {
    margin: 0 auto;
    width: 1000px;
}

.flex {
    display: flex;
}

.sp-bt {
    display: flex;
    justify-content: space-between;
}

.sp_ar {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.mtb-16 {
    margin: 16px 0;
}

.mse-16 {
    margin: 0 16px;
}

.pse-5 {
    padding: 0 5%;
}

.p-default {
    padding: 16px 5%;
}

.mb-128 {
    margin-bottom: 128px;
}

.mb-32 {
    margin-bottom: 32px;
}

.cl-white {
    color: black;
}

.cl-black {
    color: black;
}

.text-wh {
    color: white;
}

.center {
    text-align: center;
}

/*start*/
main {
    overflow-x: hidden;
    height: 580px;
    background: #000;
}

.headers {
    width: 100%;
    z-index: 100;
    position: fixed;
    background: black;
    height: 102px;
}

.headers img {
    width: 200px;
    height: 60px;
}

.headers ul li {
    line-height: 4.5rem;
    color: white;
    cursor: pointer;
}

.headers ul li:not(:first-child):before {
    content: '|';
    padding: 0 8px;
}

#search {
    position: absolute;
    top: 0;
    width: 0%;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    z-index: 999;
    position: fixed;
    background: white;
    transition: .3s;
}

.swiper1 {
    position: absolute;
    left: 50%;
    top: 102px;
    transform: translate(-50%, -0%);
    /*양옆 덜 보이게*/
    height: 632px;
    width: 170%;
}

.swiper1 .swiper-slide {
    text-align: left;
    filter: brightness(50%)
        /*슬라이드 양옆 검정으로 흐리게*/
}

.swiper1 .swiper-slide-active {
    filter: brightness(100%)
}

.swiper1 .swiper-slide img {
    object-fit: cover;
    object-position: left;
    height: 600px;
}

.swiper1 .swiper-pagination-bullet {
    background-color: #000;
}

.swiper-button-div {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 364px;
    z-index: 99;
    transform: translate(-50%, 0%);
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 20px !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 2rem !important;
    font-weight: 200 !important;
}


.ranking {
    width: 100%;
    margin-top: 268px;
}

.rank {
    width: 480px;
}

.rank li {
    .rank-btn {
        display: block;
        padding: 16px 0;
        min-width: 480px;
        text-align: left;
        background: white;
        cursor: pointer;
        position: relative;
    }

    .rank-btn::after {
        content: "+";
        position: absolute;
        right: 0;
    }

    .content {
        display: none;
        margin: 0;
        background-color: #fff;
    }

    &.on {

        .rank-btn::after {
            content: "더보기";
            position: absolute;
            font-weight: 200;
            right: 0;
        }

        .content {
            display: block;
            display: flex;
            margin-bottom: 16px;
            padding: 0;
        }

        .content>div img {
            object-fit: cover;
            object-position: top;
            min-width: 118.5px;
            height: 148px;
            filter: brightness(85%)
        }

        .content> :nth-child(1n) {
            margin-right: 2px;
        }

        .content>div {
            position: relative;
        }

        .content>div p {
            color: white;
            position: absolute;
            bottom: 1.1rem;
            left: 50%;
            width: 92%;
            transform: translate(-50%, 0%);
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.signature {
    margin-left: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 640px;
    overflow: hidden;
    position: relative;
}

.signature-big {
    width: 100%;
    min-width: 480px;
    margin-right: 8px;
    height: 640px;
    position: relative;
}

.signature-big img {
    width: 100%;
    height: 640px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.signature-big img:hover+.signature-big-text {
    opacity: 1;
    transition: 0.8s ease-out;
}

.signature-big img:hover {
    filter: brightness(85%);
    transition: 0.8s ease-out;
}

.signature-big-text {
    opacity: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
}

.signature-big-text span {
    color: #4c4c4c;
    margin-left: 4px;
}

.signature-small {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 8px;
}

.signature-small section {
    width: 30%;
    position: relative;
    min-width: 180px;
    height: 320px;
}

.signature-small section img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.signature-small section img:hover+.signature-text {
    opacity: 1;
    transition: 0.4s ease-out;
}

.signature-small img:hover {
    filter: brightness(90%);
    transition: 0.4s ease-out;
}

.signature-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.signature-text span {
    color: #756969;
    margin-left: 4px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 50%;
    height: 112px;
    object-fit: cover;
}

.nowtrend {
    margin: 0 5%;
}

.tablink {
    font-size: 1.2rem;
    padding: 0 16px;
    font-weight: normal;
    color: #5a5a5a;
}

.tabmenu-color {
    color: black;
}

.trend {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 50px 0 50px 0;
}

.trend-div-first {
    margin: 72px 0;
    width: 46%;
    margin-left: 5%;
}

.trend-div-small {
    margin: 0 auto;
    width: 632px;
}

.trend-div-small section> :nth-child(1) {
    width: 200px;
    height: 300px;
    position: relative;
    background: #f8f8f8;
}

.trend-div-small section :nth-child(1) img {
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.trend-div-small section> :nth-child(2) {
    width: 200px;
    margin-top: 12px;
}

.trend-div-small section> :nth-child(2) * {
    margin-top: 4px;
}

.gray {
    color: #959595;
}

.sale {
    color: #582d2d;
}

.trend-big {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 45%;
    min-width: 500px;
    height: 100%;
}

.trend-big img {
    filter: brightness(50%);
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px 0;
}

.trend-big-text {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trend-big-text> :nth-child(1) {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.trend-big-text> :nth-child(2) {
    font-size: 1rem;
    line-height: 1.6rem;
}

.our-story {
    width: 624px;
    margin: 0 auto;
    position: relative;
}

.videos {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 500px;
    overflow: hidden;
}

.slide-box {
    width: 1500px;
    display: flex;
}

.slide {
    cursor: pointer;
    width: 500px;
    height: 315px;
    transition: 0.6s;
    margin-bottom: 128px;
}

.btnLeft,
.btnRight {
    height: 315px;
    position: absolute;
    top: 40%;
    cursor: pointer;
    transition: 0.3s;
    color: #5a5a5a;
}

.btnLeft:hover,
.btnRight:hover {
    color: black;
}

.btnLeft {
    left: 0;
}

.btnRight {
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: -32px;
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.2rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.school {
    width: 100%;
    height: 600px;
    position: relative;
}

.school-small {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(0%, -50%);
}

.school-small img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    object-position: top;
}

.school-small p {
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    text-align: right;
    margin-bottom: 64px;
}

#slicks1 {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.slickslide1 {
    width: 600px;
    height: 600px;
}

.slickslide1 div img {
    object-fit: cover;
    width: 600px;
    height: 600px;
}

#slicks2 {
    width: 380px;
    height: 380px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}

.slickslide2 {
    width: 380px;
    height: 380px;
}

.slickslide2 div img {
    object-fit: cover;
    width: 380px;
    height: 380px;
}

.slick-btn {
    position: absolute;
    width: 120px;
    left: 25%;
    position: relative;
}

.slide-prev-btn {
    width: 24px;
    height: 20px;
    margin-right: 32px;
    cursor: pointer;
}

.slide-next-btn {
    width: 24px;
    cursor: pointer;
}

.slide-auto-stop {
    position: absolute;
    right: 0;
    top: -1px;
    cursor: pointer;
}

.slide-auto-play {
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: -1px;
}

.insta {
    padding: 128px 0;
    background: #f5f5f5;
    margin-top: 128px;
}

.insta div {
    width: 1200px;
    margin: 0 auto;
}

.insta div section {
    background: white;
}

.insta div section img {
    width: 225px;
    height: 225px;
    object-fit: cover;
}

.insta div section :nth-child(2) {
    padding: 8px 12px;
    border-bottom: 1px dashed #ddd;
}

.insta div section :last-child {
    padding: 0 12px;
    margin: 16px 0;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ambassador section img {
    width: 320px;
    background: #f8f8f8;
    height: 400px;
    object-fit: contain;
    margin-bottom: 12px;
}

.ambassador>:nth-child(2n) {
    margin: 0 16px;
}

.ambassador section p {
    margin-top: 4px;
}

footer {
    position: relative;
    padding: 72px 5%;
    background: black;
    color: #d5d5d5;
}

footer>div>div {
    margin-bottom: 48px;
}

.accordion {
    bottom: 130px;
    right: 5%;
    background: black;
    width: 240px;
}

.accordion label {
    cursor: pointer;
}

.accordion label span {
    float: right;
    line-height: 1.2rem;
}

.accordion>ul {
    display: none;
    position: absolute;
    top: -100px;
    background: white;
    width: 240px;
    padding: 0 12px;
}

.accordion>ul>li {
    padding: 8px 0;
    font-size: 0.8rem;
    color: #666;
}

.accordion>ul>li:hover {
    color: #0a0a0a;
}

.accordion input[type="checkbox"] {
    display: none;
    /* checkbox 숨기기 */
}

.accordion input[type="checkbox"]:checked+label+ul {
    display: block;
    max-height: 340px;
}

.footer-logo {
    height: 70px;
}

.footer-logo img {
    width: 200px;
}

.footer-logo p {
    line-height: 4.5rem;
    margin-left: 24px;
}

.sns section {
    display: flex;
    margin-bottom: 5px;
}

.sns section div {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    filter: invert(83%) sepia(34%) saturate(0%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.sns section img {
    margin: 6px 7px;
    width: 15px;
    height: 15px;
}

.sns section p {
    margin-left: 8px;
    line-height: 2rem;
}

footer>:nth-child(1)> :nth-child(2) p {
    padding: 4px 0;
}

footer>:nth-child(2)> :nth-child(2) p {
    margin: 4px 0;
}

.top-btn {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 0;
    bottom: 0;
}


/*검색팝업*/

.search-popup {
    width: 100%;
    height: 100%;
    border-radius: 150px 0 0 0;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 999;
    top: 0;
    left: 0;
}

.search-popup input {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.search-popup input[type="text"] {
    width: 600px;
    background: rgba(0, 0, 0, 0)url(https://github.com/l08sw4/project3/blob/main/images/icon/icon-search.png?raw=true)no-repeat;
    background-size: 3%;
    background-position: right 0px;
    border-bottom: 2px solid black;
    padding: 8px 0;
}

.search-keyword {
    width: 600px;
    transform: translate(-50%, 0%);
    position: absolute;
    top: 35%;
    left: 50%;
}

.search-keyword *,
.popular_search * {
    padding: 8px 0;
}

.now_search {
    width: 300px;
}

.popular_search {
    width: 300px;
    position: relative;
}

.number_list {
    counter-reset: number 0;
}

.number_item {
    padding-left: 20px;
    font-size: 0.9rem;
}

.number_item::before {
    counter-increment: number 1;
    content: counter(number);
    position: absolute;
    left: 0;
}

.number_item::after {
    content: '-';
    float: right;
}

.search-bg {
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgb(0, 0, 0);
    z-index: -999;
    top: 0;
    left: 0;
}

.search-close {
    position: absolute;
    right: 5%;
    top: 72px;
    font-size: 2rem;
    cursor: pointer;
    color: #484848;
}

.search-close:hover,
.search-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

